@media screen and (min-width: 376px) and (max-width: 992px) {
  nav,
  div#inscription > p,
  div#menu > div {
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  nav {
    justify-content: space-between;
    align-items: center;

    padding: 40px;
  }

  nav.uncollapse {
    height: 60px;
  }

  nav.collapse {
    height: 300px;
  }

  nav.flex-column {
    flex-direction: column;
  }
  
  nav.flex-row {
    flex-direction: row;
  }

  div#inscription > p > img {
    position: absolute;

    top: 0;
    right: -20px;
  }

  div#menu {
    flex-direction: column;
  }

  div#menu.w-100 {
    width: 100%;
  }
  
  div#menu.auto {
    width: auto;
  }

  div#menu > div{
    display: flex;

    width: 100%;
  }

  div#profileAvatar {
    justify-content: start !important;
    gap: 0px 20px;
  }
}

@media screen and (min-width: 992px) {
  nav {
    justify-content: space-around;
  }

  div#inscription {
    flex-basis: 50%;
  }

  div#menu {
    flex-direction: row;
  }

  div#menu > div {
    display: flex!important;

    opacity: 1!important;
  }

  div#profileAvatar {
    gap: 0px 10px;
  }

  div#menu > div > img:not(.avatar) {
    display: none;
  }

  div#menu > div:nth-child(2) {
    order: 4;
  }

  div#menu > button {
    order: 5;
  }
}

nav {
  display: flex;

  top: 0;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);

  background-color: hsl(0, 0%, 100%);
}

div#inscription {
  display: flex;
  align-items: center;
}

div#inscription > p {
  position: relative;

  cursor: pointer;
}

div#menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

div#menu > div {
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

img.avatar {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50%;

  width: 32px;
  height: 32px;
}

img.right-chevron {
  width: 16px;
  height: 8px;

  transform: rotate(90deg);
}
