@media screen and (min-width: 376px) and (max-width: 992px) {
  div.card-box {
    flex-direction: column;

    margin: 50px 0px;
  }

  div.box-one{
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  div.card-box {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 15px;
  }

  div.box-one {
    justify-content: center;
  }

  div.flex-basis-25 > div.card {
    flex-basis: 25%;
    flex-grow: 0;
  }
}

div.card-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
