@font-face {
  font-family: "Raleway";

  src: url(./assets/fonts/Raleway-Regular.ttf);
}

@media screen and (min-width: 376px) and (max-width: 992px) {
  div#container {
    padding: 30px;
  }

  section#introSection,
  section.quotes,
  div#profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.25px;

    margin: 0;
  }

  .h2 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -1.25px;
  }

  .h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.25px;
  }

  div#intro {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  #modalBox {
    width: 80%;
  }

  .flex-basis-100 {
    flex-basis: 100% !important;
  }

  p#notFound > span {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  p#notFound > img {
    width: 128px;
    height: 128px;
  }
}

@media screen and (min-width: 992px) {
  div#container {
    padding: 100px;
  }

  section#introSection {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  section#introSection > div {
    flex-basis: 45%;
    flex-grow: 0;
  }
  
  section#introSection > div:nth-child(2) {
    flex-basis: 30%;
    flex-grow: 0;
  }

  section#introSection > div:nth-child(2) > div.card {
    width: 100%;
  }

  section.quotes {
    flex-direction: column;
  }

  .h1 {
    font-size: 98px;
    line-height: 90px;
    letter-spacing: -1.5px;

    padding: 0px;
  }

  .h2 {
    font-size: 61px;
    line-height: 72px;
    letter-spacing: -0.5px;
  }

  .h3 {
    font-size: 49px;
    line-height: 41px;
    letter-spacing: 0.25px;
  }

  p#notFound > span {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
  }

  p#notFound > img {
    width: 256px;
    height: 256px;
  }
}

:root {
  font-family: "Raleway";
}

div#container {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
}

section.quotes > p.nought-quotes {
  font-size: 12px;
  font-style: italic;
}

.h1 {
  position: relative;

  font-style: normal;
  font-weight: 300;
  letter-spacing: -1.5px;

  color: hsl(0, 0%, 0%);
}

.h2 {
  position: relative;

  font-style: normal;
  font-weight: 300;

  color: hsl(0, 0%, 0%);
}

#modalBox {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 32px;

  transform: translate(-50%, -50%);

  outline: none !important;
  background-color: #fff;
}

button.btn-warn,
button.btn-default {
  padding: 8px 16px;

  border-radius: 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button.btn-warn {
  background-color: hsl(34, 81%, 67%);
}

button.btn-default {
  background-color: hsl(0, 0%, 100%);

  color: hsl(0, 0%, 0%);
}

p#notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.flex-column {
  flex-direction: column;
}

.d-none {
  display: none !important;
}

.justify-center {
  justify-content: center !important;
}

.align-self-start{
  align-self: start!important;
}

.align-self-center{
  align-self: center!important;
}

.opacity-1 {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-primary {
  color: hsl(16, 64%, 64%);
}
